@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1 {
  @apply text-2xl font-semibold font-header;
}

h2 {
  @apply text-xl font-semibold font-header;
}

h3 {
  @apply text-lg font-semibold font-header;
}

a {
  @apply text-black font-normal font-header;
}

p {
  @apply font-medium font-body tracking-wide;
}

div {
  @apply font-header;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #f8edeb
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid #c5c5c5
}

@tailwind components;
@tailwind utilities;
@tailwind forms;

@layer components {
  .btn-ui {
    @apply py-2 px-4 bg-ui-dark text-white text-sm font-medium shadow focus:outline-none focus:ring-2 focus:ring-ui-dark focus:ring-opacity-75 hover:bg-ui-light hover:text-black hover:outline-black disabled:bg-ui-medium;
  }
}

@layer components {
  .checkbox-ui {
    @apply text-ui-dark mr-2 h-4 w-4 focus:ring-ui-dark focus:ring-opacity-25 border border-ui-medium rounded-sm transition duration-150 ease-in-out;
  }
}

@layer components {
  .layout-base {
    @apply min-h-screen max-w-screen-2xl mx-auto py-12 px-4 sm:py-8 sm:px-6 lg:px-12;
  }
}
